<!DOCTYPE html>
<form hx-post="/contacts" hx-swap="beforeend" hx-target="#contactList" hx-trigger="submit">
    <label for="name">Contact's Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="email">Contact's Email:</label>
    <input type="email" name="email" id="email">
    <br>
    <button type="submit">Add Contact</button>
</form>
