<form>
    <label for="name">Contact's Name:</label>
    <input type="text" name="name" id="name" placeholder="Enter contact's name">
    <br>
    <label for="phone">Contact's Phone Number:</label>
    <input type="tel" name="phone" id="phone" placeholder="Enter contact's phone number">
    <br>
    <button type="submit">Add Contact</button>
</form>